.row
  .col-md-12
    = simple_form_for project do |f|
      .form-inputs
        = f.input :name
        = f.input :description, class: 'form-control'
      .form-actions
        = f.submit 'Save', class: 'btn btn-default btn-block'
        %br
        = link_to "Back", :back, class: 'btn btn-info'
