.row
  .col-md-12
    .page-header
      %h2.text-center
        = project.name
        %p
          by
          = project.owner.name
.row
  .col-md-8
    %img{src: 'http://dummyimage.com/600x400/237d00/ffffff', alt: project.name}
    .project_description.froala-view
      = simple_format project.description
  .col-md-4
    .col-md-12.project_info
      %i.fa.fa-comment
        = project.comments.count
      comments
      %i.fa.fa-bullhorn
        = project.rewards.count
      rewards
    .col-md-12.project_info.supporters
      %h4
        Tags
      %ul.list-unstyled
        - project.tags.each do |tag|
          %li= tag
    .col-md-12.project_info.supporters
      %h4
        Supporters
      %ul.list-unstyled
        - project.project_contributions.each do |contribution|
          %li
            contribution.name
    .col-md-12.project_info
      = link_to 'Edit Project', edit_project_path(project), class: 'btn btn-default btn-small'
      = link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-small'
      = link_to 'Back', :back, class: 'btn btn-default'

%br
%br
.new-project-module.row
  .col-md-12
    .panel.panel-success
      .panel-heading
        %h3.panel-title Create comment
      .panel-body
        = render 'comments/form'
%br
%h3 Comments:
= render 'comments/list', project: project

%button.btn.btn-success.btn-lg{"data-target": "#myModal", "data-toggle": "modal", type: "button"} Contribute

= render 'project_contributions/modal'
