%nav.navbar.navbar-inverse
  .container
    .navbar-header
      =link_to root_path do
        %span.navbar-brand NightWing
    .collapse.navbar-collapse.navbar-ex1-collapse#toggled
      %ul.nav.navbar-nav
        %li= link_to 'Discover', projects_path
      .col-sm-4
        .navbar-form
          = search_form_for q do |f|
            .input-group
              = f.search_field :name_or_description_cont, class: "form-control"
              .input-group-btn
                = f.submit "Search", class: "btn btn-default"
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li= link_to current_user.email, user_path
          %li= link_to 'Logout', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Sign up', new_user_registration_path
          %li= link_to 'Sign in', new_user_session_path
