%nav.navbar.navbar-inverse
  .container
    .navbar-header
      =link_to root_path do
        %span.navbar-brand NightWing
      %p.navbar-text Discover
    .navbar-form
      = search_form_for @q do |f|
        .input-group
          = f.search_field :name_or_description_cont, :class => "form-control"
          .input-group-btn
            = f.submit "Search"
    .collapse.navbar-collapse.navbar-ex1-collapse#toggled
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          =link_to user_path do
            %li.navbar-text= current_user.email
          %li.navbar-tesxt= link_to 'Logout', destroy_user_session_path, method: :delete
        - else
          %li.navbar-text=link_to 'Sign up', new_user_registration_path
          %li.navbar-text=link_to 'Sign in', new_user_session_path
